<p>Hello,</p>

<p>
  This email confirms the purchase of <%= @stake.amount.to_s %> stake<%= @stake.amount > 1 ? 's' : ''%> for
  <%= @stake.owner.display_name %>
  at Kuusi Palaa.
</p>

<p>
  Please pay the attached invoice with a bank transfer by
  <%= @stake.invoice_due.strftime('%-d %b %Y') %>. Your cooperative membership and stakeholder status will be activated upon receipt of payment.
</p>

<p>
  Your stake<%= @stake.amount > 1 ? 's' : ''%> will be applied to funding season #<%= @stake.season.number.to_s %> of Kuusi Palaa, which will run from
  <%= @stake.season.start_at.strftime('%-d %b') %> until <%= @stake.season.end_at.strftime('%-d %b') %>. If not enough stakes are sold to fund season #<%= @stake.season.number.to_s %>
  and Kuusi Palaa ends, your money will be refunded (minus any administrative costs, which will be spread evenly across the refunds of all members).
</p>

<p>
  Please note: if this is your first stake, the price includes 1 share in the Kuusi Palaa cooperative/osuuskunta (10€) and your 40€ membership fee for this year.
</p>

<p>
  Payment of this invoice indicates your acceptance of the terms of the membership agreement. If you would like to review these terms,
  you can view them <a href="https://kuusipalaa.fi/pages/membership-agreement<%= @stake.owner_type == "Group" ? '-organisations' : '' %>">here</a>. The link also appears on the footer of every page on the Kuusi Palaa website if you are logged in.
</p>

<p>
  You will receive 500 points per stake, which you can use for producing activities at Kuusi Palaa. Points will be awarded as soon as payment is received.

</p>


<p>
  If you don't want to receive any emails from Kuusi Palaa, you can unsubscribe from notifications from your
  <%= link_to 'user profile page', edit_user_url(@user) %>. You will still receive emails regarding stakes you buy.
  <br />
  If you do want to receive these emails, make sure info@kuusipalaa.fi is whitelisted in your email client.
</p>

<p>
  Thank you again for investing in the Kuusi Palaa project, and we will see you there!
</p>
