.row.expanded.small-up-4.medium-up-6.large-up-8.xlarge-up-9  
  - [@instance.organisers, @instance.rsvps.map(&:user), ].flatten.compact.uniq.each do |attended|
    .column.participant_grid
      .image
        - if attended.avatar?
          = image_tag attended.avatar.url(:box)
        - else
          = image_tag image_path('user_missing_large.png')
      .participant_overlay

        = link_to attended.display_name, attended 
        %div{id: "organiser_info_#{attended.id.to_s}"}
     
          - if @instance.responsible_people.include?(attended)
            = t(:organiser)

  
            - if @instance.event.primary_sponsor == attended 
              %br/
              = link_to t(:event_instigator_brackets), @instance.proposal
            - else
              - if user_signed_in?
                - if @instance.responsible_people.include?(current_user) || current_user.has_role?(:admin)
                  = link_to t(:remove_organiser), event_user_remove_organiser_path(@instance.event, @instance, attended), remote: true, class: [:button, :alert, :tiny]
          - else
            - if user_signed_in?
              - if @instance.responsible_people.include?(current_user) || current_user.has_role?(:admin)
                = link_to t(:make_organiser), event_user_make_organiser_path(@instance.event, @instance, attended), remote: true, class: [:button, :secondary, :tiny]
        
        - if user_signed_in?
          - if current_user == attended 
            - if (@instance.start_at - 12.hours) > Time.current
              = link_to t(:cancel_rsvp), cancel_rsvp_event_instance_path(@instance.event, @instance), method: :post, class: [:button, :alert], data: {confirm: t(:confirm_cancel_rsvp) }
        - if @instance.allow_multiple_entry == true
          = " (#{pluralize(@instance.users.select{|x| x == attended}.count, 'time')})"