.idea_detail_view
  .row
    .small-12.columns.title_box
      .title
        = t :event
        = ": "
        = @event.name

      
  - if @event.image?
    .row
      .small-12.columns.image_box.nopadding
        = image_tag @event.image

  .row
    .small-12.columns.nopadding
      %table.proposal_info
        %tr
          %td.half
            .heading
              = t :when
            .value
              = date_range(@event.instances.first.start_at.localtime, @event.instances.first.end_at.localtime)

              - unless @event.instances.size == 1
                - @event.instances[1..-1].each do |t|
                  .additional
                    = " + "
                    = date_range(t.start_at.localtime, t.end_at.localtime)
          %td.half
            .heading= t :organised_by
            .value
              .avatar= link_to image_tag(@event.primary_sponsor.avatar.url(:thumb).gsub(/development/, 'production')), @event.primary_sponsor
              .who
                = link_to(@event.primary_sponsor.display_name, @event.primary_sponsor, target: :_blank)
                %br/
                %small= link_to t(:see_original_proposal), original_proposal_idea_path(@event.idea), target: :_blank, class: [:button, :tiny, :bordered]
        %tr

          %td.half
            .heading= t :ticket_price
            .value
              - if @event.instances.first.price_public == 0
                = t :free_entry
              - else
                = number_to_currency(@event.instances.first.price_public, unit: raw("&euro;"), format: "%n %u")        
          %td.half
            .heading= t :venue
            .value
              - case @event.instances.first.room_needed
                - when 1
                  = t(:main_room)
                - when 2
                  = t(:back_room_short)
                - when 3
                  = t(:both_rooms_short)
              - if @event.instances.first.allow_others == true
                .subtext= t :others_are_allowed
        %tr
          %td.half
            .heading= t :participation_details
            .value
              = t :you_will_earn_x_for_participating, number: @event.instances.sum(&:cost_bb)
          %td.half
            .heading= t :registration
            .value
              - if @event.instances.map(&:request_registration).compact.include?(true)
                %p= t :you_must_register_for_this_event
                = render partial: 'registration_button'
                - if user_signed_in?
                  - if @event.instances.first.responsible_people.include?(current_user)
                    = link_to t(:change_registration_form), add_registration_form_event_instance_path(@event, @event.instances.first) , class: [:button, :bordered]
              - else
                = t :registration_not_required
                - if user_signed_in?
                  - if @event.instances.first.responsible_people.include?(current_user)
                    = link_to t(:add_registration_form), add_registration_form_event_instance_path(@event, @event.instances.first) , class: [:button, :bordered]
        %tr
          %td{colspan: 2}
            .heading= t :event_description
            .value= simple_format(@event.instances.first.description)  
  
        - if @event.instances.map(&:request_registration).compact.include?(true)
          %tr#registration_form
            %td{colspan: 2}= render partial: 'registration_form'
   


  .row#comments_list
    %ul.first= render(partial: 'shared/comment', collection: @event.discussion.select(&:persisted?).sort_by(&:updated_at), locals: {depth: 0, root: @event, last: @event.comments.last, commenting_open: true})
    #main_thread= render partial: 'shared/comments_and_form', locals: {commentable: @event, depth: 0, commenting_open: true}


= content_for :jquery do
  :plain
    $('.comment_content').readmore({lessLink: '<a class="button readmore" href="#">[#{t(:close)}]</a>', moreLink: '<a class="button readmore" href="#">[#{t(:read_more)}]</a>'});
      
- if user_signed_in?
  = content_for :jquery do
    :plain
      $('#pledge_pledger_select').on('change', function() {
        $.ajax({
            url: "/ideas/#{@event.id.to_s}/pledges/find_pledge?pledger_type=" + $('#pledge_pledger_select option').filter(":selected").attr('rel') + "&pledger_id=" + $('#pledge_pledger_id').val(),
            success: function(pledge_limit) {
              $('#pledge_panel_wrapper').html(pledge_limit)
            }
        })

        $('#pledge_pledger_type').val($('#pledge_pledger_select option').filter(":selected").attr('rel'));
        $('#pledge_pledger_id').val($('#pledge_pledger_select').val());
        $.ajax({
          url: '/users/' + $('#pledge_pledger_select').val() + '/get_avatar?class=' + $('#pledge_pledger_type').val() + '&size=thumb',
          success: function(image) {

            $('#avatar_pledge_pledger img').attr('src', image);
            $('#avatar_pledge_pledger img').attr('alt', $('#pledge_pledger_select option').filter(":selected").html());
         
           }
          });
      }); 
