.idea_detail_view
  .row
    .small-12.columns.title_box
      .title
        = t :event
        = ": "
        = @event.name

      
  - if @event.image?
    .row
      .small-12.columns.image_box.nopadding
        - if @event.image_width
          - if @event.image_width > 800
            = image_tag @event.image.url(:twelvehundred)
          - else
            = image_tag @event.image.url(:medium)
        - else
          = image_tag @event.image

  .row
    .small-12.columns.nopadding
      %table.proposal_info
        %tr
          %td.half
            .heading
              = t :when
            .value
              = date_range(@event.instances.first.start_at.localtime, @event.instances.first.end_at.localtime)

              - unless @event.instances.size == 1
                - @event.instances[1..-1].each do |t|
                  .additional
                    = " + "
                    = date_range(t.start_at.localtime, t.end_at.localtime)
          %td.half
            .heading= t :proposed_by_empty
            .value
              .avatar= link_to image_tag(@event.idea.proposer.avatar.url(:thumb).gsub(/development/, 'production')), @event.idea.proposer
              .who= link_to(@event.idea.proposer.display_name, @event.idea.proposer, target: :_blank)
        %tr


          %td.half
            .heading= t :venue
            .value
              - case @event.instances.first.room_needed
                - when 1
                  = t(:main_room)
                - when 2
                  = t(:back_room_short)
                - when 3
                  = t(:both_rooms_short)
              - if @event.instances.first.allow_others == true
                .subtext= t :others_are_allowed

        %tr
          %td{colspan: 2}
            .heading= t :proposal_description
            .value= raw @event.instances.first.description   

     


  .row#comments_list
    %ul.first= render(partial: 'shared/comment', collection: @event.discussion.select(&:persisted?).sort_by(&:updated_at), locals: {depth: 0, root: @event, last: @event.comments.last, commenting_open: true})
    #main_thread= render partial: 'shared/comments_and_form', locals: {commentable: @event, depth: 0, commenting_open: true}


= content_for :jquery do
  :plain
    $('.comment_content').readmore({lessLink: '<a class="button readmore" href="#">[#{t(:close)}]</a>', moreLink: '<a class="button readmore" href="#">[#{t(:read_more)}]</a>'});
      
- if user_signed_in?
  = content_for :jquery do
    :plain
      $('#pledge_pledger_select').on('change', function() {
        $.ajax({
            url: "/ideas/#{@event.id.to_s}/pledges/find_pledge?pledger_type=" + $('#pledge_pledger_select option').filter(":selected").attr('rel') + "&pledger_id=" + $('#pledge_pledger_id').val(),
            success: function(pledge_limit) {
              $('#pledge_panel_wrapper').html(pledge_limit)
            }
        })

        $('#pledge_pledger_type').val($('#pledge_pledger_select option').filter(":selected").attr('rel'));
        $('#pledge_pledger_id').val($('#pledge_pledger_select').val());
        $.ajax({
          url: '/users/' + $('#pledge_pledger_select').val() + '/get_avatar?class=' + $('#pledge_pledger_type').val() + '&size=thumb',
          success: function(image) {

            $('#avatar_pledge_pledger img').attr('src', image);
            $('#avatar_pledge_pledger img').attr('alt', $('#pledge_pledger_select option').filter(":selected").html());
         
           }
          });
      }); 
