.idea_detail_view
  .row
    .small-12.columns.title_box
      .title
        = t :event, count: 1
        = ": "
        = @instance.name

      
  - if @instance.event.image?
    .row
      .small-12.columns.image_box.nopadding
        -# - if @instance.event.image_width
        -#   - if @instance.event.image_width > 800
        -#     = image_tag @instance.event.image.url(:twelvehundred)
        -#   - else
        -#     = image_tag @instance.event.image.url(:medium)
        -# - else
        = image_tag @instance.event.image.url

  .row
    .small-12.columns.nopadding
      %table.proposal_info
        %tr
          %td.half
            .heading
              = t :when
            .value
              = date_range(@instance.start_at.localtime, @instance.end_at.localtime)


              - unless @instance.other_instances.empty?
                - @instance.other_instances.each do |t|
                  .additional
                    = " + "
                    = date_range(t.start_at.localtime, t.end_at.localtime)
          %td.half
            .heading= t :proposed_by_empty
            .value
              .avatar= link_to image_tag(@instance.idea.proposer.avatar.url(:thumb).gsub(/development/, 'production')), @instance.idea.proposer
              .who= link_to(@instance.idea.proposer.display_name, @instance.idea.proposer, target: :_blank)
        %tr
          %td{colspan: 2 }
            .heading= t :where
            .value
              %strong= @instance.place.name
              = @instance.place.address

          %td.half
            .heading= t :ticket_price
            .value
              - if @event.instances.first.price_public == 0
                = t :free_entry
              - else
                = number_to_currency(@event.instances.first.price_public, unit: raw("&euro;"), format: "%n %u")
          %td.half
            .heading= t :venue
            .value
              - case @instance.room_needed
                - when 1
                  = t(:main_room)
                - when 2
                  = t(:back_room_short)
                - when 3
                  = t(:both_rooms_short)
              - if @instance.allow_others == true
                .subtext= t :others_are_allowed

        %tr
          %td{colspan: 2}
            .heading= t :description
            .value= raw @instance.description

     

  .row
    .small-12.columns.nopadding.title_box
      .title= t :discussion_and_recent_activity
      = t(:this_event_has_x_comments, count: @instance.event.comments.select(&:persisted?).size, comment: t(:comment, count: @instance.event.comments.select(&:persisted?).size))

  .row#comments_list
    %ul.first= render(partial: 'shared/comment', collection: @instance.discussion.select(&:persisted?).sort_by(&:created_at), locals: {depth: 0, root: @instance, last: @instance.event.comments.last, commenting_open: true})
    #main_thread= render partial: 'shared/comments_and_form', locals: {commentable: @instance.event, depth: 0, commenting_open: true}


= content_for :jquery do
  :plain
    $('.comment_content').readmore({lessLink: '<a class="button readmore" href="#">[#{t(:close)}]</a>', moreLink: '<a class="button readmore" href="#">[#{t(:read_more)}]</a>'});
      
- if user_signed_in?
  = content_for :jquery do
    :plain
      $('#pledge_pledger_select').on('change', function() {
        $.ajax({
            url: "/ideas/#{@instance.id.to_s}/pledges/find_pledge?pledger_type=" + $('#pledge_pledger_select option').filter(":selected").attr('rel') + "&pledger_id=" + $('#pledge_pledger_id').val(),
            success: function(pledge_limit) {
              $('#pledge_panel_wrapper').html(pledge_limit)
            }
        })

        $('#pledge_pledger_type').val($('#pledge_pledger_select option').filter(":selected").attr('rel'));
        $('#pledge_pledger_id').val($('#pledge_pledger_select').val());
        $.ajax({
          url: '/users/' + $('#pledge_pledger_select').val() + '/get_avatar?class=' + $('#pledge_pledger_type').val() + '&size=thumb',
          success: function(image) {

            $('#avatar_pledge_pledger img').attr('src', image);
            $('#avatar_pledge_pledger img').attr('alt', $('#pledge_pledger_select option').filter(":selected").html());
         
           }
          });
      }); 
