
.idea
  .title
    = link_to idea.name, idea
    - if user_signed_in?
      - if can? :edit, idea
        = link_to fa_icon('pencil'), edit_idea_path(idea)
    .description= raw idea.short_description
    
  .blurb{style: idea.image? ? "background: url(#{idea.image.url(:box)}) center top; min-height: 250px;" : "min-height: 250px"}
  .under

    .needed
      = t((idea.ideatype.slug + '_category').to_sym)

    .so_far.text-center
      - if idea.ideatype_id != KuusiPalaa::Ideas::Request
        - if idea.points_needed.nil?
          = t :no_times_proposed_yet
        - else
          = t :x_of_x_so_far, has: idea.pledged, needs: idea.points_needed
      -# - if idea.ideatype_id == KuusiPalaa::Ideas::Request
      -# = t(:x_comments, count: idea.comments.count, comment: t(:comment, count: idea.comments.count))
    .pledge_corner
      = link_to t(:pledge_p), idea
    - if idea.parent
      .project.text-center
        = t :project, count: 1
        = ": "
        = link_to idea.parent.name, idea.parent      
  - unless idea.active? || idea.converted? || idea.cancelled?
    .draught.text-center
      = t :draught_mode
      - if can? :edit, idea
        = link_to t(:click_to_resume), edit_idea_path(idea)
        
  - if idea.has_enough?
    .ready.text-center
      = t :ready_to_be_published
  - if idea.converted?
    .ready.text-center
      = t :scheduled_as
      %br/
      - if idea.events.empty?
        No events were actually scheduled
      - else
        = link_to idea.events.first.name, idea.events.first
  - if idea.cancelled?
    .ready.text-center
      = t :cancelled
      %br/
