%article.ideas_index
  - unless @ideas.select(&:active?).empty?
    .row

      .small-12.discussions
        .header.text-center
          - if @user
            = t :proposals_for_user, user: @user.display_name
          - else
            = t :all_active_proposals

    .row.small-up-1.large-up-3.medium-up-2
      - @ideas.select(&:active?).delete_if{|x| x.converted? }.each do |idea|
        .columns= render partial: 'ideas/idea_index', locals: {idea: idea}


    .row
      .small-12.medium-6.columns.lessmargins.small-centered
        = link_to new_idea_path do
          .front_button.text-center
            = t(:create_new_proposal)

  - unless @ideas.select(&:draught?).empty?
    .row

      .small-12.discussions
        .header.text-center
          - if @user
            - if @user == current_user
              = t :your_proposal_drafts
            - else
              = t :proposals_for_user, user: @user.display_name
          - else
            = t :your_proposal_drafts 

    .row.small-up-1.large-up-3.medium-up-2
      - @ideas.select(&:draught?).delete_if{|x| x.converted? }.each do |idea|
        .columns= render partial: 'ideas/idea_index', locals: {idea: idea}


    .row
      .small-12.medium-6.columns.lessmargins.small-centered
        = link_to new_idea_path do
          .front_button.text-center
            = t(:create_new_proposal)

  - unless @ideas.select(&:converted?).empty?
    .row

      .small-12.discussions
        .header.text-center
          - if @user
            = t :completed_proposals


    .row.small-up-1.large-up-3.medium-up-2
      - @ideas.select(&:converted?).each do |idea|
        .columns= render partial: 'ideas/idea_index', locals: {idea: idea}  