= semantic_form_for [:admin, @season] do |f|
  = f.input :number
  = f.input :stake_count
  = f.input :amount_needed, label: 'Amount needed in Euros', hint: 'more important than stake count now'
  = f.input :start_at, as: :string
  = f.input :end_at, as: :string
  = f.submit 'Save'
