%p Hello,

%p
  A new comment has been left on the discussion about:
  = @item.name
  on the Kuusi Palaa site.
%p
  This comment was left at
  = l @comment.created_at, format: :short
  by
  = @comment.user.display_name
  = ":"

%blockquote
  = raw @comment.content

%p
  To reply to this comment, please visit the page for
  = link_to @item.name, @item
  = "."
  You can also disable email notifications for this
  = @item.class.to_s.downcase
  here.

%p
  If you don't want to receive any emails from Kuusi Palaa at all, you can unsubscribe from notifications from your
  = link_to 'user profile page', edit_user_url(@user)
  = "."
  If you do want to receive these emails, make sure info@kuusipalaa.fi is whitelisted in your email client.

%p Thank you for your interest in Kuusi Palaa.
