.membership_pages
  .row
    .small-12.columns
      .lifted_box
        .title= t :membership_details
        .blurb
          %p= t :we_need_your_details
          %p= link_to t(:read_privacy_policy), page_path('privacy-policy'), target: :_blank, class: [:button, :tiny]

          .row
            .small-12.large-7.columns
              = semantic_form_for @group, html: {:'data-abide' => '' } do |f|
                = f.input :name, label: "<label class='label'>#{t(:organisation_name)}</label><div class='validation_error'></div>".html_safe,  hint: t(:keep_it_short), input_html: {'required': ''}
                = f.input :long_name, label: t(:legal_name), hint: t(:enter_full_legal_name), input_html: {'required': ''}
                = f.input :is_member, as: :hidden

                = f.input :address, label: t(:postal_address), input_html: {required: ''}
                = f.input :city, label: t(:city), input_html: {required: ''}
                = f.input :postcode, label: t(:postcode), input_html: {required: ''}
                = f.input :country, label: t(:country), input_html: {required: ''}
                = f.input :contact_phone, label: t(:contact_phone), hint: t(:we_wont_call_you), input_html: {required: ''}
                = f.input :taxid, label: 'Tax ID', hint: t(:tax_id_hint), input_html: {required: ''}
                = f.input :accepted_agreement, as: :hidden, input_html: {value: true}
                = f.submit t(:save)

= content_for :jquery do
  :plain


    function checkVAT() {
      $.ajax({
        url: '/groups/check_vat',
        data: {
          id: $('#group_taxid').val()
        },
        success: function(data) {
          if (data == 'false') {
            $('li#group_taxid_input').addClass('error');
            $('p.invalid_vat').fadeIn();
            $('i#vat_ok').fadeOut();
            $('i#vat_bad').fadeIn();
            $('#group_taxid').addClass('is-invalid-input');
          } else if (data == 'true') {
            $('li#group_taxid_input').removeClass('error');
            $('p.invalid_vat').fadeOut();
            $('i#vat_ok').fadeIn();
            $('i#vat_bad').fadeOut();
            $('#group_taxid').removeClass('is-invalid-input');
          }
        }
      });
    }
    $('#group_country').change(function() {
      if ($(this).val() == 'FI' || $(this).val() == '') {
        $('li#group_taxid_input').removeClass('error');
        $('p.invalid_vat').fadeOut();
        $('#group_taxid').removeClass('is-invalid-input');
      } else {
        checkVAT();
      }
    });

    $('#group_taxid').change(function() {
      if ($('#group_country').val() != 'FI' && $('#group_country').val() != '') {
        if (/^\w\w\d*/.test($('#group_taxid').val())) {
          checkVAT();
        }
      }

    });

    $('#group_name').on('valid.zf.abide',function (ev,elem) {

      $.ajax({
          url: '/users/check_unique',
          data : {
              action : "validate.username",
              username : $(ev.target).val()
          },
          success : function(data) {
            $('.validation_error').html();
            $('.validation_error').fadeOut();
            $(ev.target).removeClass('is-invalid-input');

          },
          error: function(data, errorThrown) {

            $('.validation_error').html(data.responseJSON.message);
            $('.validation_error').fadeIn();
            $(ev.target).addClass('is-invalid-input');
            // $(ev.target).markInvalid(data.messages.join('<br>'));
          }
      });
    });
