.member_services_index

  .row
    .small-12.columns.medium-8.large-9
      %h3.text-center= t :create_a_group
      %p= t :group_stakes_blurb

  .row
    .small-12.columns.medium-8.large-9
      %h4= t :choose_group_type

      %p= t :three_types_of_groups

      = form_tag '/groups/new_unregistered', id: :new_group_form do
        = radio_button_tag :group_type, 1, true
        = t(:unregistered_group)
        %p.group_type= t :unregistered_group_explanation
        = radio_button_tag :group_type, 2, false
        = t(:registered_organisation_joins_kp)
        %p.group_type= t :registered_organisation_joins_kp_explanation
        = radio_button_tag :group_type, 3, false
        = t(:registered_organisation_nonmember)
        %p.group_type= t(:registered_organisation_nonmember_explanation)
        = submit_tag t(:next_step)

= content_for :jquery do
  :plain
    $('input[name="group_type"]').change(function() {
      if ($(this).val() == 2) {
        $('#new_group_form').attr('action', "/groups/group_members_agreement");
        $('#new_group_form').attr('method', "post");
      } else if ($(this).val() == 3) {
        $('#new_group_form').attr('action', '/groups/new_nonmember');
        $('#new_group_form').attr('method', "post");
      } else if ($(this).val() == 1) {
        $('#new_group_form').attr('action', '/groups/new_unregistered');
        $('#new_group_form').attr('method', "post");
      }

    });
