.edit_profile
  .row
    .small-10.columns.small-centered
      .lifted_box
        .title
          = t :your_profile
          = link_to fa_icon('eye'), @user, target: :_blank

        .blurb



          = semantic_nested_form_for @user, html: {multipart: true, :'data-abide' => '', id: "user_form"} do |f|
            .row
              .small-10.medium-8.columns
                = f.input :email, label: t(:email)
                = f.input :username
                = f.input :name, label: t(:your_name), input_html: {:required => ''}
                = f.input :show_name, label: t(:show_name_on_site), hint: t(:show_name_hint)

                = f.input :website, label: 'Your website', hint: 'Enter a URL, if you\'d like, to your personal website. This will be shown in your public profile.'
                - unless f.object.authentications.empty?
                  - unless f.object.authentications.select{|x| x.provider == 'facebook' }.empty?
                    = f.input :show_facebook_link, label: 'Show link to your Facebook page on your public profile?'
                  - unless f.object.authentications.select{|x| x.provider == 'twitter' }.empty?
                    = f.input :show_twitter_link, label: 'Show link to your Twitter feed on your public profile?'

                = f.input :pin, label: t(:your_pin), hint: t(:pin_explanation), input_html: {value: '', maxlength: 6, type: :password, pattern: "^.{4,6}$", placeholder:  (f.object.pin.blank? ? t(:enter_pin) : t(:change_pin))}
                .subsection
                  .subtitle= t :contact_details
                  .info
                    = f.input :opt_in, label: t(:opt_in), hint:  t(:we_wont_do_this)
                    .row
                      .small-12.columns= f.input :address, label: t(:postal_address), input_html: {required: @user.is_member? ? 'required' : false}
                    .row
                      .small-6.columns= f.input :city
                      .small-2.columns= f.input :postcode
                      .small-4.columns= f.input :country



              .small-12.large-4.columns.photo
                - if f.object.avatar?
                  = image_tag f.object.avatar.url(:small)
                  = f.input :avatar, label: t(:change_image), hint: t(:keep_decent)
                - else
                  = image_tag 'user_missing_large.png'
                  = f.input :avatar, label: t(:change_image), hint: t(:keep_decent)


            .row

              .small-12.columns= f.submit t(:save), class: [:button, :bordered], id: :submit_form
= content_for :jquery do
  :plain
    $('#submit_form').on('click', () => {
      if ($('#user_pin').val() == '') {
        $('#user_pin').prop("disabled", true);

      }
      $('#user_form').submit();
    })
    $('#user_pin').keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             // Allow: Ctrl+A, Command+A
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) || 
             // Allow: home, end, left, right, down, up
            (e.keyCode >= 35 && e.keyCode <= 40)) {
                 // let it happen, don't do anything
                 return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });