.membership_pages
  .row
    .small-12.columns.lessmargins.lessright
      .lifted_box
        .title= t :members_agreement
        .blurb
          %p= t :becoming_a_member

  .row
    .small-12.columns.scrollbox_container
      .membership_agreement_scrollbox
        - if @members_agreement.respond_to?(:body)
          = raw @members_agreement.body
        - else
        = raw @members_agreement

      .agree_container
        = check_box_tag :agreed
        = t :accepts_members_agreement

  .row
    .small-12.columns.lessmargins
      = link_to t(:continue), for_self_season_stakes_path(@current_season.id, accepted_agreement: true), id: :continuebutton, class: [:'not-active', :disabled, :button, :bordered]


= content_for :jquery do
  :plain
    $('#agreed').click(function() {
        if ($(this).is(':checked')) {
          $('#continuebutton').removeClass('disabled');
          $('#continuebutton').removeClass('not-active');
        } else {
          $('#continuebutton').addClass('disabled');
          $('#continuebutton').addClass('not-active');
        }
    });
