%li{class: comment.item == root ? 'top-level' : false}

  .row
    .small-12.columns
      .entry{class: [comment.class.to_s.downcase, comment == last ? :last : false]}
        .row
          .small-12.columns.end{class: comment.comments.empty? ? :divided : false}
            .comment_avatar
              - if comment.class == Comment
                = link_to image_tag(comment.contributor.avatar.url(:thumb).gsub(/development/, 'production'), width: 45), comment.user, target: :_blank, class: :comment_avatar
              - elsif comment.class == Idea || comment.class == Proposal
                = link_to image_tag(comment.proposer.avatar.url(:thumb).gsub(/development/, 'production'), width: 45), comment.proposer, target: :_blank, class: :comment_avatar
              - elsif comment.class == Pledge
                = link_to image_tag(comment.pledger.avatar.url(:thumb).gsub(/development/, 'production'), width: 45), comment.pledger, target: :_blank, class: :comment_avatar
              - elsif comment.class == BudgetproposalVote
                = link_to image_tag(comment.voter.avatar.url(:thumb).gsub(/development/, 'production'), width: 45), comment.voter, target: :_blank, class: :comment_avatar
              - elsif comment.class == Userphoto || comment.class == Userthought
                = link_to image_tag(comment.user.avatar.url(:thumb).gsub(/development/, 'production'), width: 45), comment.user, target: :_blank, class: :comment_avatar 
              - elsif comment.class == Instance
                - unless comment.new_record?
                  = link_to image_tag(comment.scheduler.avatar.url(:thumb).gsub(/development/, 'production'), width: 45), comment.scheduler, target: :_blank, class: :comment_avatar
            .comment_body{class: comment.class == Instance && comment.new_record? ? 'instance' : false}
              .comment_type
                - if comment.class == Comment
                  = raw t(:user_says_on, :user => link_to(comment.contributor.display_name, comment.contributor, target: :_blank), date: l(comment.created_at, format: :long))
                - elsif comment.class == Idea || comment.class == Proposal
                  - if comment.proposer_type == 'Group'
                    = raw t(:group_original_proposal, group: link_to(comment.proposer.display_name, comment.proposer, target: :_blank), :user => link_to(comment.user.display_name, comment.user, target: :_blank), date: l(comment.created_at, format: :long))
                  - else
                    = raw t(:user_original_proposal, :user => link_to(comment.proposer.display_name, comment.proposer, target: :_blank), date: l(comment.created_at, format: :long))
                  %br/
                  %small
                    - if comment.class == Idea
                      = link_to t(:see_original_proposal), original_proposal_idea_path(comment), target: :_blank, class: [:button, :tiny, :bordered]
                    - elsif comment.class == Proposal
                      = link_to t(:see_original_proposal), "https://temporary.fi/proposals/#{comment.id.to_s}", target: :_blank, class: [:button, :tiny, :bordered]
                - elsif comment.class == Pledge
                  - if comment.item.class == Proposal
                    = raw t(:has_pledged_temporary, user: link_to(comment.pledger.display_name, comment.pledger, target: :_blank), amount: comment.pledge)
                  - else
                    = raw t(:has_pledged, user: link_to(comment.pledger.display_name, comment.pledger, target: :_blank), amount: comment.pledge)
                  .pledge_metadata
                    = t :pledged_at, when: l(comment.created_at, format: :long)
                    %br/
                    - unless comment.extra_info.blank?
                      %em= t comment.extra_info.to_sym, when: l(comment.spent_at.localtime, format: :long) rescue ''
                - elsif comment.class == BudgetproposalVote
                  = raw t(:has_voted, user: link_to(comment.voter.display_name, comment.voter, target: :_blank), value: comment.vote == true ? t(:positive) : t(:negative))
                  .pledge_metadata
                    = l comment.updated_at, format: :long
                - elsif comment.class == Userphoto
                  = raw t :shared_an_image_from_the_event, name: link_to(comment.user.display_name, comment.user, target: :_blank), when: l(comment.created_at, format: :long)
                  .small_viewpoint= link_to image_tag(comment.image.url(:thumb)), "#viewpoint_#{comment.class.to_s}_#{comment.id.to_s}_popup", class: "open-popup-link" 
                - elsif comment.class == Userthought
                  = raw t :shared_some_words_from_the_event, name: link_to(comment.user.display_name, comment.user, target: :_blank), when: l(comment.created_at, format: :long)
                  %blockquote= raw comment.thoughts
                - elsif comment.class == Instance
                  - if comment.new_record? 
                    = t :the_event_took_place_and_x_attended, event: comment.name, when: l(comment.start_at, format: :long), x: (root.instances.find_by(start_at: comment.start_at, end_at: comment.end_at).users.uniq + root.instances.find_by(start_at: comment.start_at, end_at: comment.end_at).onetimers.unclaimed).size.to_s

                    .row.small-up-4.medium-up-8.large-up-10= render partial: 'instances/who_came', locals: {instance: root.instances.find_by(start_at: comment.start_at, end_at: comment.end_at)}
                  - else
                    = raw t(:meeting_was_scheduled, user: link_to(comment.scheduler.display_name, comment.scheduler, target: :_blank), when: l(comment.created_at, format: :long), name: link_to(raw("<em>#{comment.name}</em>"), comment.item, target: :_blank))
                    %br/
                    - if comment.event_image?
                      = image_tag comment.event_image.url.gsub(/development/, 'production')
              - if comment.class == Comment    
                .comment_content
                  - if comment.systemflag == true
                    %em
                      - if comment.content =~ /\s/
                        = raw comment.content
                      - else
                        = t comment.content

                  - else
                    - link_filter = AutoHtml::Link.new(target: '_blank')
                    = raw link_filter.call(simple_format(comment.content_linked))

                    - if comment.image?
                      %br/
                      .image_attached= image_tag comment.image.url(:medium)
                    - if comment.attachment?
                      %p= link_to t(:download) + ' ' + File.basename(URI.parse(comment.attachment.url).path), comment.attachment.url, class: [:button, :round, :tiny]
            - if comment.class == Comment  && commenting_open && !comment.systemflag
              .row
                .sma11-12.large-10.columns
                  .avatar_spacer &nbsp;
                  %button.button{type: :button, :'data-toggle' => 'reply_dropdown_' + comment.id.to_s }= t(:reply)
                  - if user_signed_in?
                    - if can?(:destroy, comment) && comment.comments.empty? && comment.class != Pledge && commenting_open && !comment.systemflag
                      = link_to fa_icon('trash'), comment, method: :delete, data: {confirm: t(:are_you_sure_delete_comment)} #, class: [:button, :tiny, :alert]
                  .dropdown-pane{id:'reply_dropdown_' + comment.id.to_s, :'data-dropdown' => '', :'data-close-on-click' => true, :'data-auto-focus' => true}
                    = link_to t(:comment_in_main_thread), '#', onclick: "$('.dropdown-pane').foundation('close');$(document).scrollTo('#main_thread', 800);return false;", class: [:button, :tiny, :secondary]
                    %br/
                    - if depth > 0
                      - if depth == 1
                        = link_to t(:comment_this_subthread), '#', onClick: "$('.dropdown-pane').foundation('close');$('#comment_#{comment.item.id.to_s}.occluded_form').slideToggle();$(document).scrollTo('#comment_#{comment.item.id.to_s}.occluded_form', 800);return false;", class: [:button, :tiny, :secondary]

                      - else
                        = link_to t(:comment_this_subthread), '#', onClick: "$('.dropdown-pane').foundation('close');$('#comment_#{comment.item.id.to_s}.occluded_form').slideToggle();$(document).scrollTo('#comment_#{comment.item.id.to_s}.occluded_form', 800);return false;", class: [:button, :tiny, :secondary]
                      %br/
                    - if comment.comments.empty? && depth < 2
                      = link_to t(:start_new_thread), '#', onClick: "$('.dropdown-pane').foundation('close');$('#comment_#{comment.id.to_s}.occluded_form').slideToggle();return false;", class: [:button, :tiny, :secondary]

        - if comment.class == Comment                   
          - unless comment.comments.empty?
            - if comment.comments.size > 2
              .row
                .sma11-12.large-10.columns
                  .row
                    .small-2.columns.horizontal_line
                    .small-10.columns
                      .show_link= link_to t(:show_x_comments, count: comment.comments.size), '#', onClick: "javascript:$('#comment_thread_#{comment.id.to_s}').show();$(this).hide();return false;"
            %ul{id: 'comment_thread_' + comment.id.to_s, class: comment.comments.size > 2 ? :hidden : false}= render partial: 'shared/comment', collection: comment.comments.order(created_at: :asc), locals: {depth: depth + 1,root: root, last: comment.comments.last, commenting_open: commenting_open}

          .occluded_form[comment]= render partial: 'shared/comments_and_form', locals: {depth: depth + 1, commentable: comment, commenting_open: commenting_open}
