%ul.dropdown.drilldown.menu#generic_dropdown_menu{:'data-dropdown-menu' => '', :'data-alignment' => 'left'}
  %li
    = link_to t(:menu), '#'
    %ul.vertical.menu 
      %li= link_to t(:visit_kuusi_palaa), '/events/kuusi-palaa/kuusi-palaa-season-1'     
      %li= link_to t(:events), '/events/archive'
      %li= link_to t(:event_calendar), '/events/calendar'
      %li= link_to t(:what_is_happening), activities_path
      %li= link_to t(:questions_and_answers), page_path('questions-and-answers')
      %li= link_to t(:all_proposals), archive_ideas_path
      %li= link_to t(:book_the_back_room), '/roombookings'
      %li= link_to t(:join_cooperative) , new_season_stake_path(@next_season)

