.viewpoint.column{id: 'userthought_' + viewpoint.id.to_s, :'data-equalizer-watch' => ''}
  .reveal.white-popup{id: "userthought_#{viewpoint.id.to_s}_popup", :'data-reveal' => ''}
    = raw markdown.render viewpoint.thoughts
    .credit_line
      %small=  raw t(:contributed_by, username: link_to(viewpoint.user.display_name, viewpoint.user, target: :_blank), when: l(viewpoint.created_at, format: :long))
  = link_to  "#userthought_#{viewpoint.id.to_s}_popup", :'data-open' =>  "userthought_#{viewpoint.id.to_s}_popup" do
    .userthought
      %span.big= raw "&ldquo;"
      = truncate_html(markdown.render(viewpoint.thoughts), length: 100)
  
  .credit_line
    %small=  raw t(:contributed_by, username: link_to(viewpoint.user.display_name, viewpoint.user, target: :_blank), when: l(viewpoint.created_at, format: :long))
  - if viewpoint.user == current_user
    
    = link_to fa_icon('trash') + t(:remove_this_thought), [@event, @instance, viewpoint, viewpoint_type: 'userthought'], method: :delete, remote: :true, data: {confirm: t(:are_you_sure)}, class: [:button, :alert, :tiny]
  - else
    - if user_signed_in?
      %button.button.small{type: :button, :'data-toggle' => "dropdown_#{viewpoint.id.to_s}_like"}= raw(fa_icon('heart') + t(:like_this_tip) + fa_icon('chevron-circle-down'))
      .dropdown-pane{id:"dropdown_#{viewpoint.id.to_s}_like", :"data-dropdown" => '', :'data-auto-focus' => "true"}
        .tip_blurb
          = t(:how_many_temps_to_tip, user: viewpoint.user.display_name)
          = form_tag post_temps_user_transfers_path(viewpoint.user), remote: true, method: :post do
            = text_field_tag :temps_to_send, 1, size: 3, maxlength: 3
            
            = hidden_field_tag :userphoto_id, viewpoint.id.to_s
            = submit_tag 'Send !', class: [:button]
      .after_tip{id:"dropdown_#{viewpoint.id.to_s}_after"}
:javascript
  $('.open-popup-link').magnificPopup({
    type:'inline',
    midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
  });    