
- @season.stakes.paid.each do |s|
  - s.amount.times do
    .stake_box.paid{class: s.owner_type == 'Group' && !s.owner.taxid.blank? ? 'organisation' : false, style: s.owner.avatar? ? "background: url(#{s.owner.avatar.url(:thumb).gsub(/development/, 'production') }) center center no-repeat;" : (s.owner_type == 'Group' ?  (s.price == 50 ? "background: url(#{image_path "front/icon-informal_group.jpg"}) center center no-repeat; background-size: contain;" : "background: url(#{image_path "front/icon-formal_group.jpg"}) center center no-repeat; background-size: contain;" ) :  "background: url(#{image_path "front/icon-single_person.jpg"}) center center no-repeat; background-size: contain;" )}
      .overlay
        = link_to s.owner.display_name, s.owner, target: :_blank
- @season.stakes.booked_unpaid.each do |s|
  - s.amount.times do
    .stake_box.unpaid{class: s.owner_type == 'Group' && !s.owner.taxid.blank? ? 'organisation' : false, style: s.owner.avatar? ? "background: url(#{s.owner.avatar.url(:thumb).gsub(/development/, 'production') }) center center no-repeat;" : (s.owner_type == 'Group' ?  (s.price == 50 ? "background: url(#{image_path "front/icon-informal_group.jpg"}) center center no-repeat; background-size: contain;" : "background: url(#{image_path "front/icon-formal_group.jpg"}) center center no-repeat; background-size: contain;" ) :  "background: url(#{image_path "front/icon-single_person.jpg"}) center center no-repeat; background-size: contain;" )}
      .overlay
        = link_to raw(s.owner.display_name + '<br />' + t(:payment_pending)), s.owner, target: :_blank


- if @season.stakes.map{|x| x.price * x.amount}.sum < @season.amount_needed
  - (@season.stake_count - @season.stakes.paid.sum(&:amount) - @season.stakes.booked_unpaid.sum(&:amount)).times do
    = link_to new_season_stake_path(@current_season) do
      .stake_box.grey
        .overlay= t(:book_stake)  + '!'