.row{:'data-equalizer' => 'upper'}
  .small-12.large-8.columns.calendar_list{:'data-equalizer-watch' => 'upper'}= render partial: 'home/text_calendar'        

  .small-12.columns.large-4#calendar_grid.minicalendar{:'data-equalizer-watch' => 'upper'}
    

.proposal_activity_box.row

  .small-12.large-6.columns.proposal_list
    .title= link_to t(:recent_proposals), ideas_path
    .body
      - @proposals.each do |proposal|
        .proposal_row
          = link_to proposal do
            .icon
              = fa_icon 'clipboard'
            .name= proposal.name
      %br/
      %br &nbsp;
      .button_row
        .row
          .small-7.columns
            = link_to ideas_path do
              .front_button.text-center
                = t(:see_proposals)
  .small-12.large-6.columns.activity_feed
    .title.activities=  link_to t(:latest_activities), activities_path
    .activities_index
      - @activities.each do |activity|
        = render partial: 'activities/activity', locals: {activity: activity}

= content_for :jquery do 
  = render partial: 'home/little_calendar', formats: [:js]
  :plain
    $('.proposal_activity_box .body').height($('.activities_index').height() - 30)
    $(window).on('resize', function(){
      $('.proposal_activity_box .body').height($('.activities_index').height() - 31)
    })