.row.calendar_container{:'data-equalizer' => 'upper'}
  .small-12.large-8.columns.calendar_list{:'data-equalizer-watch' => 'upper'}= render partial: 'home/text_calendar'        

  .small-12.columns.large-4.minicalendar{:'data-equalizer-watch' => 'upper'}
    #calendar_grid



.proposal_activity_box.row

  .small-12.large-6.columns.proposal_list
    .title= link_to t(:recent_proposals), ideas_path
    .body
      - @proposals.each do |proposal|
        .proposal_row
          = link_to proposal do
            .icon
              = fa_icon 'clipboard'
            .name= proposal.name
      %br/
      %br &nbsp;
      .button_row
        .row
          .small-7.columns
            = link_to ideas_path do
              .front_button.text-center
                = t(:see_proposals)

  .small-12.large-6.columns.activity_feed
    .title.activities=  link_to t(:latest_activities), activities_path
    .activities_index
      - @activities.each do |activity|
        = render partial: 'activities/activity', locals: {activity: activity}

%article.divider
  .row
    .small-12.columns &nbsp;



%article#supporters_banner
  .row
    .small-12.columns.lessmargins.right_adjust.bordered.text-center
      = t :kuusi_palaa_funders_and_supporters
      %br/
      %ul.horizontal.text-center
        - Season.all.order(:number).each_with_index do |season, index|
          %li.supporter_selector{class: season == @season ? :active : false}[season]= link_to t(:season_x, number: season.number), '/home/funders_update?season_id=' + season.number.to_s, remote: true
  .row
    .small-12.columns.lessmargins.right_adjust.funders_and_supporters= render partial: 'home/funders_and_supporters'


= content_for :jquery do 
  = render partial: 'home/little_calendar', formats: [:js]
  :plain

    $('.proposal_activity_box .body').height($('.activities_index').height() - 30)
    $(window).on('resize', function(){
      $('.proposal_activity_box .body').height($('.activities_index').height() - 31)
    })