%article.member_services_index
  .row
    .small-12.columns.lessmargins.lessright
      .lifted_box.has_inner_button
        .title= t :calendar
        .blurb
          .row
            .small-12.columns
              -#= link_to fa_icon('list') + ' ' + t(:view_as_list), events_path, class: [:button]
              = link_to fa_icon('download') + ' ' + t(:download), calendar_events_path(format: 'ics'), class: [:button, :small]
              .float-right.legend
                %span.event= t :event, count: 1
                %span.proposal
                  = t :proposal_legend
                  
                  %small= t :not_confirmed
                %span.booking= t :back_room_legend
            .small-12.large-6.columns.right
              %p
                = t :all_other_times_open
                - if @kp_is_open
                  %strong= t(:kp_is_currently_open) + "!"
                - else 
                  = t :kp_is_currently_closed

          .row

            #calendar.clickable.small-centered
          
          = content_for :jquery do
            = render partial: 'events/calendar', formats: [:js]

    