%article.event_index
  %article
    .row.front_box{class: @kp_is_open.to_s}
      .small-12.columns.small-centered.text-center
        = link_to event_instance_path('kuusi-palaa', 'kuusi-palaa-season-1') do
          .banner_blurb
            - if @kp_is_open
              = t :kp_is_currently_open
              .smaller= t :all_are_welcome
            - else
              = t :kp_is_currently_closed
              .smaller= t :not_a_stakeholder_come_some_other_time
  %article

    - unless @events.empty?
      .row

        .small-12.discussions
          .header.text-center
            = t :upcoming_events

      .row.small-up-1.large-up-3.medium-up-2.nopadding
        - @events.each do |event|
          .columns= render partial: 'events/event_index', locals: {event: event}


      .row
        .small-12.medium-6.columns.lessmargins.small-centered
          = link_to new_idea_path do
            .front_button.text-center
              = t(:organise_an_event)

