%article.event_index

  %article

    - unless @events.empty?
      .row

        .small-12.discussions
          .header.text-center
            - if controller.action_name == 'archive'
              = t :past_events
            - else
              = t :upcoming_events

      .row.small-up-1.large-up-3.medium-up-2.nopadding
        - @events.each do |event|
          .columns= render partial: 'events/event_index', locals: {event: event}


      .row
        .small-12.medium-6.columns.lessmargins.small-centered
          = link_to new_idea_path do
            .front_button.text-center
              = t(:organise_an_event)

