%article.post_single
  .row
    .small-12.columns.lessmargins.lessright
      .lifted_box
        .title
          = @page.title
        .blurb

          - unless @page.questions.empty?
            .questions_box
              %ul#page_questions
                - @page.questions.each do |q|
                  %li.question= link_to q.question, '#', onClick: "javascript:$('#question_#{q.id.to_s}').slideToggle();return false;"
                  .answer[q]
                    - q.answers.each do |a|
                      = raw a.body
          = raw @page.body
