%article.post_single
  .row
    .small-12.columns.lessmargins.lessright
      .lifted_box
        .title
          = @page.title
        .blurb

          - unless @page.questions.empty?
            .questions_box
              %ul#page_questions
                - @page.questions.each do |q|
                  %li.question= link_to q.question, '#', onClick: "javascript:$('#question_#{q.id.to_s}').slideToggle();return false;"
                  .answer[q]
                    - q.answers.each do |a|
                      = raw a.body
                      - unless a.contributor.nil?
                        .translation_credit
                          = link_to a.contributor do
                            = image_tag a.contributor.avatar.url(:thumb).gsub(/development/, 'production')
                            = t(:answer_contributed_by, name: a.contributor.display_name)

                      - if a.read_translated_attribute(:body, session[:locale]).blank?

                        .translate
                          = link_to t(:no_translation_in_lang, obj: t(:question), lang: t(:locale_name))
                          %p= link_to t(:contribute_a_translation_into_lang), contribute_translation_question_path(q), class: [:button, :tiny]

          = raw @page.body
