


= f.input :bookedby_id, as: :hidden, input_html: {'required' => ''}
= f.input :season_id, as: :hidden, input_html: {'required' => ''}

- if @group
  = f.input :owner_type, as: :hidden, input_html: {'required' => '',value: 'Group'}
  = f.input :owner_id, as: :hidden, input_html: {'required' => '', value: @group.id }
  - if @collection_options
    = f.input :owner, as: :select, label: t(:who_will_own_this_stake), collection: options_for_select(@collection_options.map{|x| [x[0], x[1], {'rel' => x[2], 'disabled'=> x[3], 'price' => x[4], 'vat' => x[5]}] }), include_blank: false #  input_html: {required: ''}
- else
  = f.input :owner_type, as: :hidden, input_html: {'required' => '', value: 'User'}
  = f.input :owner_id, as: :hidden, input_html: {value: current_user.id }
.row
  .small-6.large-3.medium-4.columns
    = f.input :price, as: :hidden, input_html: {'required' => ''}
    = f.input :amount, label: false, hint: t(:number_of_stakes), input_html: {type: :number, value: 1, required: ''}
  .small-6.large-2.medium-3.columns.end

    .total_due
      #total_due
      .total_text= t :total_amount_due
.row
  .small-12.columns
    %p= t(:how_to_buy)
    %p
      %strong
        %u= t :when_payment_received
    %p= t :only_accept_sepa        
    %p= t :receive_points_for_stakes, count: 500, stake: t(:stake, count: 1)
    %p= t :points_awarded_later





= content_for :jquery do
  :plain
    function calcAmountDue() {
      if ($('#stake_owner_id option').filter(":selected").attr('vat') != 'false') {
        var multiplier = 1.24;
      } else {
        var multiplier = 1;
      }
      if ($('#stake_owner_id option').filter(":selected").val()) {
        $('#total_due').html(($('#stake_amount').val() * $('#stake_owner_id option').filter(":selected").attr('price') * multiplier) +'€');
      } else {
        $('#total_due').html($('#stake_amount').val() * 50 +'€');
      }
    }
    calcAmountDue();
    $('#stake_amount').on('input', function() {
      if ($(this).val() < 1) {
        $('#stake_amount').val(1);
      }
      calcAmountDue();
    });
    $('#stake_owner_input').on('change', function() {
      $('#stake_price').val($('#stake_owner_id option').filter(":selected").attr('price') );
      calcAmountDue();
      $('#stake_owner_type').val($('#stake_owner_id option').filter(":selected").attr('rel'));
    });
