
#header
  .logo
    KUUSI PALAA
  .invoice_info
    %p= "INVOICE: ##{stake.id.to_s}"
    %p= "DATE: #{stake.created_at.strftime("%d.%m.%Y")}"

.row.metadata
  .small-12.columns.medium-6
    Kuusi Palaa osk
    %br/
    Kolmas linja 7
    %br/
    00530 Helsinki, Finland
    %br/
    Y-tunnus: 2880614-5
  .small-12.columns.medium-6
    .heading INVOICE TO:

    = stake.billable.name
    - if stake.billable.address
      %br/
      = stake.billable.address
      %br/
      = stake.billable.postcode
      = stake.billable.city
      %br/
      - if stake.billable.country != 'FI'
        = ISO3166::Country[stake.billable.country].name
    - if stake.billable.taxid
      %br/
      = stake.billable.taxid

.row
  .small-12.columns
    .tabled= render partial: 'invoice_table', locals: {stake: stake}

.row
  .small-6.medium-3.columns
    %strong PAYMENT TO:
  .small-6.medium-9.columns
    Kuusi Palaa osk
.row
  .small-6.medium-3.columns
    %strong ACCOUNT IBAN #:
  .small-6.medium-9.columns
    = ENV['iban']
.row
  .small-6.medium-3.columns
    %strong BIC/SWIFT:
  .small-6.medium-9.columns
    = ENV['swift']
.row
  .small-6.medium-3.columns
    %strong REFERENCE/VIITENUMERO:
  .small-6.medium-9.columns
    .value= stake.viitenumero.paper_format
.row
  .small-6.medium-3.columns
    %strong DATE DUE:
  .small-6.medium-9.columns
    = stake.invoice_due.strftime("%d.%m.%Y")
