- if stake.paid
  .paid_heading
    %span.heading= t(:status) + ':'
    %span.value= t :paid
  .paid_metadata
    
    %span.heading= t :payment_method
    %span.value= t stake.paymenttype.name.to_sym

    %br/

    %span.heading= t :payment_date
    %span.value= l stake.paid_at.to_date, format: :long
- else
  .paid_heading= t :payment_pending
  = link_to t(:pay_by_credit_card), season_stake_path(stake.season, stake), class: [:button, :bordered]