.groups_index
  .row
    .small-12.columns.lessright
      .lifted_box
        .title= t :your_stakes
        .blurb
          %table
            %thead
              %th= t :invoice_num
              %th= t :who
              %th= t :amount
              %th= t :total_due
              %th= t :status
              %td= t :download_invoice
            %tbody
              - @stakes.each do |stake|
                %tr
                  %td= stake.id
                  %td= stake.owner.name
                  %td= stake.amount.to_s
                  %td
                    = number_to_currency(stake.invoice_amount, format: "%n %u", unit: raw("&euro;"))
                    - if stake.owner.charge_vat?
                      = "(#{t :vat})"
                  %td= render partial: 'stakes/paid_stake', locals: {stake: stake}

                  %td
                    = link_to t(:view_invoice), season_stake_path(stake.season, stake), class: [:button]
                    = link_to t(:download), stake.invoice.url, target: :_blank, class: [:button]

  .row
    .small-12.medium-3.columns.lessmargins
      = link_to new_season_stake_path(@next_season) do
        .front_button.text-center
          = t(:buy_a_stake)
