%article.post_single
  .row
    .small-12.columns.lessmargins.lessright
      .lifted_box.has_inner_button
        .title= t(:buy_a_stake)
        .blurb
          %p= t(:stake_booking_blurb)
          %p
            = t(:stakes_as_individuals_or_groups)
          = link_to page_path('faq') do
            .smaller_button.white
              = t(:what_is_a_stake)

  .row
    .small-12.medium-6.columns.lessmargins
      = link_to for_self_season_stakes_path(@season.id) do
        .front_button.text-center
          = t(:buy_for_self)
    .small-12.medium-6.columns.lessmargins
      = link_to for_group_season_stakes_path(@season.id) do
        .front_button.text-center
          = t(:buy_for_group)

  -# .row
  -#   .large-6.columns.small-12
  -#     = render partial: 'form'
