.stake_view
  .row
    .small-12.columns
      .lifted_box
        .title
          - if @stake.amount > 1
            = t :stake_booked_plural
          - else 
            = t :stake_booked_singular

        .blurb
          %p= t :thank_you_for_booking_stake
          - if @stake.paid != true
            = t :please_pay
            #credit_card_form
              = form_tag charges_path do
                = hidden_field_tag :stake_id,  @stake.id
                = hidden_field_tag :amount, @stake.invoice_amount
                %article
                  - if flash[:error].present?
                    #error_explanation
                      %p= flash[:error]
                  %label.amount
                    %span
                      = t(:total_due) + ":"
                      = number_to_currency(@stake.invoice_amount, unit: raw('&euro;'), format: "%n %u")

                %script.stripe-button{"data-amount" => "#{@stake.invoice_amount * 100}", "data-description" => "#{t(:x_stakes, stakes: t(:stake, count: @stake.amount), count: @stake.amount)} (invoice ##{@stake.id.to_s})", "data-key" => "#{Rails.configuration.stripe[:publishable_key]}", "data-currency" => 'eur', "data-locale" => "auto",  "data-email" => @stake.bookedby.email, src: "https://checkout.stripe.com/checkout.js"}
          - else
            .paid_info= render partial: 'stakes/paid_stake', locals: {stake: @stake}

          %p= raw t(:invoice_email_or_download, email: @stake.bookedby.email, pdf_link: link_to('PDF', @stake.invoice.url))
          %p= t :if_goal_not_met
          %p= raw t(:see_membership_agreement, membership_agreement_link: link_to(t(:membership_agreement), page_path("membership-agreement#{@stake.owner_type == 'Group' ? '-organisation' : ''}")))
          = link_to 'Download PDF',  @stake.invoice.url, class: [:bordered, :button]
          = link_to t(:what_happens_next) + '?', page_path('what-happens-next'), class: [:bordered, :button]
          %br/
          %a.twitter-share-button{"data-size" => "large", :href => "https://twitter.com/intent/tweet?text=I%20just%20bought%20a%20stake%20at%20Kuusi Palaa!%20Come%20be%20part%20of%20a%20culture%20venue%20that%20is%20not%20centrally%20financed,%20curated%20or%20administered!&url=https://kuusipalaa.fi&hashtags=KuusiPalaa,Helsinki", target: :_blank, class: [:bordered, :button]}
            = fa_icon('twitter')
            = t(:share_on_twitter)
  .row
    .small-12.columns
      #invoice_screen.lifted_box= render partial: 'invoice', locals: {stake: @stake}
