- if activity.contributor != activity.user && !activity.contributor.nil?
  = link_to activity.contributor.display_name, activity.contributor, target: :_blank
- else
  = link_to(activity.user.display_name, activity.user, target: :_blank)



- if activity.description == 'had_their_blockchain_balance_adjusted_by'
  = link_to t(activity.description), activity.item
- else
  = t activity.description
  - if activity.item.only_stakeholders 
    - if can? :read, activity.item
      = link_to activity.item.name, activity.item
    - else
      = link_to t(:stakeholder_only_discussion), new_season_stake_path(@next_season)
  - else
    = link_to activity.item.name, activity.item