
- if activity.contributor != activity.user && !activity.contributor.nil?
  = link_to activity.contributor.display_name, activity.contributor, target: :_blank
  = raw t(:via_user, user: link_to(activity.user.display_name, activity.user, target: :_blank))
- else
  = link_to(activity.user.display_name, activity.user, target: :_blank)

= t activity.description
- unless activity.user == activity.item
  = link_to activity.item.display_name, "/" + activity.item_type.downcase +  "s/#{activity.item.slug.to_s}"

- if activity.extra
  = t(activity.extra_info)
  = link_to activity.extra.name, activity.extra, target: :_blank

