/ Small Navigation
.title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "nav-menu"}
  %a.logo-small.show-for-small-only{:href => "#"}
    %img{:src => "https://placehold.it/50x50?text=LOGO"}/
  %button.menu-icon{"data-toggle" => "", :type => "button"}
  .title-bar-title Menu
/ Medium-Up Navigation
%nav#nav-menu.top-bar


  / Left Nav Section
  .top-bar-left
    %ul.vertical.medium-horizontal.menu
      %li= link_to 'Posts', admin_posts_path
      %li= link_to 'Meetings', admin_meetings_path
      %li= link_to 'Pages', admin_pages_path
      %li= link_to 'Seasons', admin_seasons_path
  / Right Nav Section
  .top-bar-right
    %ul.vertical.medium-horizontal.menu{"data-responsive-menu" => "drilldown medium-dropdown"}

      %li.has-submenu
        - if user_signed_in?
          = link_to current_user.name, '#'
          %ul.submenu.menu.vertical{"data-submenu" => ""}
            - if current_user.has_role? :admin
              %li= link_to 'Admin', '/admin'
            %li= link_to 'Your account', edit_user_path(current_user)
            %li= link_to 'Sign out',  destroy_user_session_path, :method => :delete
        - else
          %a{:href => "#"} Sign in
          %ul.submenu.menu.vertical{"data-submenu" => ""}
            %li= link_to 'via Twitter', '/users/auth/twitter'
            %li= link_to 'via Facebook', '/users/auth/facebook'
