!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }
    = display_meta_tags site: 'Kuusi Palaa'
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro", :rel => "stylesheet"}/
    %title= content_for?(:title) ? yield(:title) : "Kuusi Palaa"
    %link{:href => "/icons/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
    %link{:href => "/icons/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
    %link{:href => "/icons/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
    %link{:href => "/icons/manifest.json", :rel => "manifest"}/
    %link{:color => "#5bbad5", :href => "/icons/safari-pinned-tab.svg", :rel => "mask-icon"}/
    %meta{:content => "#ffffff", :name => "theme-color"}/

    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    = csrf_meta_tag
    = render partial: 'layouts/piwik'
  %body{class: @archive.nil? ? false : 'archive'}
    - if flash
      - flash.each do |key, value|
        .alert.text-center{ :class => "alert-#{key}" }
          %strong= raw value

    %header
      .row
        .small-12.columns.icons.text-right
          = link_to fa_icon('envelope'), "mailto:admin at temporary.fi"
          = link_to fa_icon('twitter'), 'https://twitter.com/search?q=%23KuusiPalaa&src=typd'
          = link_to fa_icon('facebook'), 'https://www.facebook.com/groups/375784559552164/'
          |
          - if I18n.locale.to_s != 'fi'
            = link_to 'FIN', :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'fi'
          - else
            FIN

          - if I18n.locale.to_s != 'en'
            = link_to 'ENG', :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'en'
          - else
            ENG
      .row

        .top-bar.small-12.columns.lessmargins
          .top-bar-left


            = link_to image_tag('kuusi_palaa_logo.png', width: 163), '/'

          .top-bar-right.user_menu
            - if user_signed_in?
              = render partial: 'shared/user_top_menu'
              
            - else
              .buttons= link_to t(:sign_in), '/users/sign_in'
            %br{clear: :all}
            -# = link_to fa_icon('envelope'), "mailto:admin at temporary.fi"
            -# = link_to fa_icon('twitter'), 'https://twitter.com/search?q=%23KuusiPalaa&src=typd'
            -# = link_to fa_icon('facebook'), '#'
            -#
            -# - if I18n.locale.to_s != 'fi'
            -#   = link_to 'FIN', :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'fi'
            -# - else
            -#   %strong FIN
            -#
            -# - if I18n.locale.to_s != 'en'
            -#   = link_to 'ENG', :controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => 'en'
            -# - else
            -#   %strong ENG
            -# %br/
            -# = link_to t(:sign_in), '/users/sign_in'
    - if @needs_pin
      %article
        .row.front_box.alert
          = link_to set_pin_user_path(current_user) do
            .small-12.columns.small-centered.text-center
              .banner_blurb= t :you_must_enter_a_pin
              .smaller= t :enter_pin_for_id
                    
    %section#main

      = yield
      = render 'cookies_eu/consent_banner'
    = render partial: 'shared/footer'
    :javascript
          $(document).ready(function() {
            #{yield :jquery}
          });
