.member_services_index
  .row
    .small-12.columns
      %h2.text-center= t :member_services
      %br/
      %br/

  .row
    .small-12.columns.medium-8.large-3
      %h3.text-center= t :stakes

      - if current_user.stakes.empty?
        %p= t(:you_have_no_stakes)
      - else
        - if current_user.stakes.booked_unpaid.size > 0
          %p= t(:you_have_x_booked_this_season, count: current_user.stakes.booked_unpaid.sum(&:amount), stake: t(:stake, count: current_user.stakes.booked_unpaid.sum(&:amount)))
        - if current_user.stakes.paid.size > 0
          %p= t(:you_have_x_paid_this_season, count: current_user.stakes.paid.sum(&:amount), stake: t(:stake, count: current_user.stakes.paid.sum(&:amount)))
        - unless current_user.groups.empty?
          - current_user.groups.each do |group|
            - next if group.stakes.empty?
            %strong= group.name
            - if group.stakes.booked_unpaid.size > 0
              %p= t(:this_group_has_x_booked_this_season, count: group.stakes.booked_unpaid.sum(&:amount), stake: t(:stake, count: group.stakes.booked_unpaid.sum(&:amount)))
      - unless @current_season.nil?
        %p= link_to t(:buy_stakes_in_experiment2), new_season_stake_path(@current_season), class: [:button]


    .small-12.columns.medium-8.large-8
      %h3.text-center= t :users_and_groups
      %h6= t :your_groups
      - if current_user.groups.empty?
        %p= t :you_do_not_belong_to_any_groups
      - else
        - current_user.groups.each do |group|
          .group.row
            .small-12.columns.large-2
              = link_to image_tag(group.avatar.url(:thumb)), group
            .small-12.columns.large-3
              %strong= link_to group.name, group, target: :_blank


            .small-12.columns.large-2
              = group.members.find_by(user: current_user).access_level == Experiment2::Access::OWNER ? t(:owner) : t(:member, count: 1)

            .small-12.columns.large-5
              = t(:x_members, count: group.members.size, members: t(:member, count:group.members.size))
              - if group.members.find_by(user: current_user).access_level > Experiment2::Access::REGULAR_MEMBER
                %br/
                = link_to t(:edit_group), edit_group_path(group), class: [:button]
                %br/
                - if group.members.size > 1
                  = link_to t(:add_edit_members), new_group_member_path(group), class: [:button]
                - else
                  = link_to t(:add_member), new_group_member_path(group), class: [:button]
              - else
                = link_to t(:leave_group), leave_group_member_path(group, current_user), class: [:button]
      %br/
      %br/
      = link_to t(:create_a_group), new_group_path, class: [:button]
